# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_gnu
absl-py=2.1.0=pypi_0
accelerate=1.0.1=pypi_0
aiofiles=23.2.1=pypi_0
aiohappyeyeballs=2.4.0=pypi_0
aiohttp=3.10.5=pypi_0
aiosignal=1.3.1=pypi_0
alpaca-eval=0.6.2=pypi_0
alsa-lib=1.2.11=hd590300_1
altair=5.2.0=pypi_0
annotated-types=0.7.0=pypi_0
anthropic=0.34.2=pypi_0
antlr4-python3-runtime=4.7.2=pypi_0
anyio=4.4.0=pypi_0
appdirs=1.4.4=pypi_0
argon2-cffi=23.1.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
arrow=1.3.0=pypi_0
asttokens=2.4.1=pypi_0
async-lru=2.0.4=pypi_0
async-timeout=4.0.3=pypi_0
attrs=24.2.0=pypi_0
audioread=3.0.1=pypi_0
autoawq=0.2.6=pypi_0
autoawq-kernels=0.0.7=pypi_0
babel=2.14.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
bitsandbytes=0.41.0=pypi_0
blas=1.0=mkl
bleach=6.1.0=pypi_0
blis=0.7.11=pypi_0
brokenaxes=0.6.2=pypi_0
bzip2=1.0.8=h5eee18b_5
c-ares=1.32.3=h4bc722e_0
ca-certificates=2024.7.4=hbcca054_0
cairo=1.18.0=h3faef2a_0
catalogue=2.0.10=pypi_0
ccache=3.7.9=hfe4627d_0
certifi=2024.8.30=pypi_0
cffi=1.17.0=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
cloudpathlib=0.19.0=pypi_0
cloudpickle=3.0.0=pypi_0
cmake=3.28.3=pypi_0
comm=0.2.2=pypi_0
confection=0.1.5=pypi_0
conllu=5.0.1=pypi_0
contourpy=1.2.0=pypi_0
cuda-cudart=12.4.127=h99ab3db_0
cuda-cudart_linux-64=12.4.127=hd681fbe_0
cuda-nvrtc=12.4.127=h99ab3db_1
cuda-version=12.4=hbda6634_3
cycler=0.12.1=pypi_0
cymem=2.0.8=pypi_0
cython=3.0.11=pypi_0
dataclasses-json=0.6.7=pypi_0
datasets=2.21.0=pypi_0
debugpy=1.8.1=pypi_0
decorator=5.1.1=pypi_0
deepspeed=0.14.4=pypi_0
defusedxml=0.7.1=pypi_0
deprecated=1.2.14=pypi_0
dill=0.3.8=pypi_0
dirtyjson=1.0.8=pypi_0
diskcache=5.6.3=pypi_0
distro=1.9.0=pypi_0
docker-pycreds=0.4.0=pypi_0
docstring-parser=0.16=pypi_0
editdistance=0.8.1=pypi_0
einops=0.6.1=pypi_0
einops-exts=0.0.4=pypi_0
en-core-sci-lg=0.5.4=pypi_0
en-core-sci-scibert=0.5.4=pypi_0
en-core-sci-sm=0.5.4=pypi_0
en-core-web-lg=3.7.1=pypi_0
en-ner-bionlp13cg-md=0.5.4=pypi_0
evalplus=0.3.0.dev52=pypi_0
evaluate=0.4.2=pypi_0
evol-instruct=0.0.1=pypi_0
exceptiongroup=1.2.2=pypi_0
executing=2.0.1=pypi_0
expat=2.6.3=h6a678d5_0
faiss-gpu=1.8.0=py3.10_h4c7d538_0_cuda12.1.1
fastapi=0.112.2=pypi_0
fastjsonschema=2.19.1=pypi_0
ffmpy=0.3.2=pypi_0
filelock=3.15.4=pypi_0
fire=0.6.0=pypi_0
flash-attn=2.5.6=pypi_0
flatbuffers=24.3.25=pypi_0
font-ttf-dejavu-sans-mono=2.37=hd3eb1b0_0
font-ttf-inconsolata=2.001=hcb22688_0
font-ttf-source-code-pro=2.030=hd3eb1b0_0
font-ttf-ubuntu=0.83=h8b1ccd4_0
fontconfig=2.14.2=h14ed4e7_0
fonts-anaconda=1=h8fa9717_0
fonts-conda-ecosystem=1=hd3eb1b0_0
fonttools=4.49.0=pypi_0
fqdn=1.5.1=pypi_0
freetype=2.12.1=h4a9f257_0
frozenlist=1.4.1=pypi_0
fschat=0.2.36=pypi_0
fsspec=2024.6.1=pypi_0
func-timeout=4.3.5=pypi_0
gdown=5.2.0=pypi_0
gguf=0.9.1=pypi_0
giflib=5.2.2=hd590300_0
gitdb=4.0.11=pypi_0
gitpython=3.1.42=pypi_0
google=3.0.0=pypi_0
gradio=3.50.2=pypi_0
gradio-client=0.6.1=pypi_0
graphite2=1.3.14=h295c915_1
greenlet=3.0.3=pypi_0
h11=0.14.0=pypi_0
harfbuzz=8.5.0=hfac3d4d_0
hjson=3.1.0=pypi_0
httpcore=1.0.5=pypi_0
httptools=0.6.1=pypi_0
httpx=0.27.2=pypi_0
huggingface-hub=0.24.6=pypi_0
icu=73.2=h59595ed_0
idna=3.8=pypi_0
importlib-metadata=8.4.0=pypi_0
importlib-resources=6.4.0=pypi_0
intel-openmp=2023.1.0=hdb19cb5_46306
interegular=0.3.3=pypi_0
ipykernel=6.29.4=pypi_0
ipython=8.23.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=8.1.2=pypi_0
isoduration=20.11.0=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.4=pypi_0
jiter=0.5.0=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.4.2=pypi_0
json5=0.9.24=pypi_0
jsonlines=4.0.0=pypi_0
jsonpointer=2.4=pypi_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=8.6.1=pypi_0
jupyter-console=6.6.3=pypi_0
jupyter-contrib-core=0.4.2=pypi_0
jupyter-contrib-nbextensions=0.7.0=pypi_0
jupyter-core=5.7.2=pypi_0
jupyter-events=0.10.0=pypi_0
jupyter-highlight-selected-word=0.2.0=pypi_0
jupyter-lsp=2.2.5=pypi_0
jupyter-nbextensions-configurator=0.6.4=pypi_0
jupyter-server=2.13.0=pypi_0
jupyter-server-terminals=0.5.3=pypi_0
jupyterlab=4.1.6=pypi_0
jupyterlab-pygments=0.3.0=pypi_0
jupyterlab-server=2.26.0=pypi_0
jupyterlab-widgets=3.0.10=pypi_0
keyutils=1.6.1=h166bdaf_0
kiwisolver=1.4.5=pypi_0
krb5=1.20.1=h81ceb04_0
langcodes=3.4.0=pypi_0
language-data=1.2.0=pypi_0
lark=1.2.2=pypi_0
latex2sympy2=1.9.1=pypi_0
lazy-loader=0.4=pypi_0
lcms2=2.16=hb7c19ff_0
ld_impl_linux-64=2.38=h1181459_1
lerc=4.0.0=h27087fc_0
libcublas=12.4.5.8=h99ab3db_1
libcups=2.3.3=h36d4200_3
libcurl=8.7.1=h251f7ec_0
libdeflate=1.20=hd590300_0
libedit=3.1.20191231=he28a2e2_2
libev=4.33=hd590300_2
libfaiss=1.8.0=h046e95b_0_cuda12.1.1
libffi=3.4.4=h6a678d5_0
libfuse=2.9.9=ha1f6473_1
libgcc-ng=14.1.0=h77fa898_0
libglib=2.80.2=hf974151_0
libgomp=14.1.0=h77fa898_0
libiconv=1.17=hd590300_2
libjpeg-turbo=3.0.3=h5eee18b_0
libnghttp2=1.57.0=h2d74bed_0
libnsl=2.0.1=hd590300_0
libpng=1.6.43=h2797004_0
librosa=0.10.2.post1=pypi_0
libsqlite=3.46.0=hde9e2c9_0
libssh2=1.10.0=ha35d2d1_2
libstdcxx-ng=14.1.0=hc0a3c3a_0
libtiff=4.6.0=h1dd3fc0_3
libuuid=2.38.1=h0b41bf4_0
libwebp-base=1.3.2=h5eee18b_0
libxcb=1.15=h7f8727e_0
libxcrypt=4.4.36=hd590300_1
libxml2=2.13.1=hfdd30dd_2
libzlib=1.2.13=h4ab18f5_6
lightgbm=4.5.0=pypi_0
linkify-it-py=2.0.3=pypi_0
lit=18.1.1=pypi_0
llama-index-core=0.11.8=pypi_0
llvmlite=0.43.0=pypi_0
lm-format-enforcer=0.10.6=pypi_0
lxml=5.3.0=pypi_0
lz4-c=1.9.4=h6a678d5_1
marisa-trie=1.2.0=pypi_0
markdown-it-py=2.2.0=pypi_0
markdown2=2.4.13=pypi_0
markupsafe=2.1.5=pypi_0
mathematics-dataset=1.0.1=pypi_0
matplotlib=3.8.3=pypi_0
matplotlib-inline=0.1.6=pypi_0
mdit-py-plugins=0.3.3=pypi_0
mdurl=0.1.2=pypi_0
mistune=3.0.2=pypi_0
mkl=2023.1.0=h213fc3f_46344
mkl-service=2.4.0=py310h5eee18b_1
mkl_fft=1.3.10=py310h5eee18b_0
mkl_random=1.2.7=py310h1128e8f_0
mpmath=1.3.0=pypi_0
msgpack=1.0.8=pypi_0
msgspec=0.18.6=pypi_0
multidict=6.0.5=pypi_0
multipledispatch=1.0.0=pypi_0
multiprocess=0.70.16=pypi_0
murmurhash=1.0.10=pypi_0
mypy-extensions=1.0.0=pypi_0
nbclient=0.10.0=pypi_0
nbconvert=7.16.3=pypi_0
nbformat=5.10.4=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=pypi_0
networkx=3.3=pypi_0
nh3=0.2.18=pypi_0
ninja=1.11.1.1=pypi_0
nltk=3.9.1=pypi_0
nmslib=2.0.6=pypi_0
notebook=7.1.2=pypi_0
notebook-shim=0.2.4=pypi_0
numba=0.60.0=pypi_0
numpy=1.26.4=py310h5f9d8c6_0
numpy-base=1.26.4=py310hb5e798b_0
nvidia-cublas-cu11=11.11.3.6=pypi_0
nvidia-cublas-cu12=12.1.3.1=pypi_0
nvidia-cuda-cupti-cu11=11.8.87=pypi_0
nvidia-cuda-cupti-cu12=12.1.105=pypi_0
nvidia-cuda-nvrtc-cu11=11.8.89=pypi_0
nvidia-cuda-nvrtc-cu12=12.1.105=pypi_0
nvidia-cuda-runtime-cu11=11.8.89=pypi_0
nvidia-cuda-runtime-cu12=12.1.105=pypi_0
nvidia-cudnn-cu11=9.1.0.70=pypi_0
nvidia-cudnn-cu12=9.1.0.70=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-cufft-cu12=11.0.2.54=pypi_0
nvidia-curand-cu11=10.3.0.86=pypi_0
nvidia-curand-cu12=10.3.2.106=pypi_0
nvidia-cusolver-cu11=11.4.1.48=pypi_0
nvidia-cusolver-cu12=11.4.5.107=pypi_0
nvidia-cusparse-cu11=11.7.5.86=pypi_0
nvidia-cusparse-cu12=12.1.0.106=pypi_0
nvidia-ml-py=12.560.30=pypi_0
nvidia-nccl-cu11=2.20.5=pypi_0
nvidia-nccl-cu12=2.20.5=pypi_0
nvidia-nvjitlink-cu12=12.6.68=pypi_0
nvidia-nvtx-cu11=11.8.86=pypi_0
nvidia-nvtx-cu12=12.1.105=pypi_0
onnxruntime=1.16.3=pypi_0
openai=1.44.1=pypi_0
openjdk=22.0.1=hb622114_0
openssl=3.3.1=hb9d3cd8_3
orjson=3.9.15=pypi_0
outlines=0.0.46=pypi_0
overrides=7.7.0=pypi_0
packaging=24.1=py310h06a4308_0
pandas=2.2.2=pypi_0
pandocfilters=1.5.1=pypi_0
parso=0.8.4=pypi_0
patsy=0.5.6=pypi_0
pcre2=10.43=hcad00b1_0
peft=0.11.2.dev0=pypi_0
petrel-oss-sdk=2.2.1=dev_0
pexpect=4.9.0=pypi_0
pillow=10.4.0=pypi_0
pip=24.2=py310h06a4308_0
pixman=0.43.2=h59595ed_0
platformdirs=4.2.2=pypi_0
pooch=1.8.2=pypi_0
preshed=3.0.9=pypi_0
progress=1.6=pypi_0
prometheus-client=0.20.0=pypi_0
prometheus-fastapi-instrumentator=7.0.0=pypi_0
prompt-toolkit=3.0.43=pypi_0
protobuf=5.28.0=pypi_0
psutil=6.0.0=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
py-cpuinfo=9.0.0=pypi_0
pyairports=2.1.1=pypi_0
pyarrow=17.0.0=pypi_0
pyarrow-hotfix=0.6=pypi_0
pybind11=2.13.5=pypi_0
pycountry=24.6.1=pypi_0
pycparser=2.22=pypi_0
pydantic=2.8.2=pypi_0
pydantic-core=2.20.1=pypi_0
pydantic-settings=2.5.2=pypi_0
pydub=0.25.1=pypi_0
pygments=2.17.2=pypi_0
pyjnius=1.6.1=pypi_0
pynvml=11.5.0=pypi_0
pyparsing=3.1.2=pypi_0
pysbd=0.3.4=pypi_0
pyserini=0.37.0=pypi_0
pysocks=1.7.1=pypi_0
python=3.10.13=hd12c33a_1_cpython
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.0.1=pypi_0
python-json-logger=2.0.7=pypi_0
python-multipart=0.0.9=pypi_0
pytz=2024.1=pypi_0
pyyaml=6.0.2=pypi_0
pyzmq=26.2.0=pypi_0
qtconsole=5.5.1=pypi_0
qtpy=2.4.1=pypi_0
ray=2.35.0=pypi_0
readline=8.2=h5eee18b_0
referencing=0.35.1=pypi_0
regex=2024.7.24=pypi_0
requests=2.32.3=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3986-validator=0.1.1=pypi_0
rich=13.7.1=pypi_0
rouge=1.0.1=pypi_0
rouge-chinese=1.0.3=pypi_0
rouge-score=0.1.2=pypi_0
rpds-py=0.20.0=pypi_0
ruff=0.5.1=pypi_0
s3fs-fuse=1.94=h4a097a5_0
safetensors=0.4.4=pypi_0
scikit-learn=1.2.2=pypi_0
scipy=1.10.1=pypi_0
scispacy=0.5.4=pypi_0
seaborn=0.13.2=pypi_0
semantic-version=2.10.0=pypi_0
send2trash=1.8.3=pypi_0
sentence-transformers=3.0.1=pypi_0
sentencepiece=0.2.0=pypi_0
sentry-sdk=1.41.0=pypi_0
setproctitle=1.3.3=pypi_0
setuptools=65.7.0=pypi_0
shellingham=1.5.4=pypi_0
shortuuid=1.0.13=pypi_0
shtab=1.7.1=pypi_0
six=1.16.0=pypi_0
smart-open=7.0.4=pypi_0
smmap=5.0.1=pypi_0
sniffio=1.3.1=pypi_0
soundfile=0.12.1=pypi_0
soupsieve=2.5=pypi_0
soxr=0.5.0.post1=pypi_0
spacy=3.7.6=pypi_0
spacy-alignments=0.9.1=pypi_0
spacy-legacy=3.0.12=pypi_0
spacy-loggers=1.0.5=pypi_0
spacy-transformers=1.3.5=pypi_0
sqlalchemy=2.0.34=pypi_0
sqlite=3.41.2=h5eee18b_0
srsly=2.4.8=pypi_0
stack-data=0.6.3=pypi_0
starlette=0.38.4=pypi_0
svgwrite=1.4.3=pypi_0
sympy=1.13.2=pypi_0
tbb=2021.8.0=hdb19cb5_0
tempdir=0.7.1=pypi_0
tenacity=8.5.0=pypi_0
termcolor=2.4.0=pypi_0
terminado=0.18.1=pypi_0
thinc=8.2.5=pypi_0
threadpoolctl=3.5.0=pypi_0
tiktoken=0.7.0=pypi_0
timm=0.6.13=pypi_0
tinycss2=1.2.1=pypi_0
tk=8.6.14=h39e8969_0
tokenizers=0.19.1=pypi_0
tomli=2.0.1=pypi_0
tomlkit=0.12.0=pypi_0
toolz=0.12.1=pypi_0
torch=2.4.0=pypi_0
torchaudio=2.1.2+cu118=pypi_0
torchvision=0.19.0=pypi_0
tornado=6.4=pypi_0
tqdm=4.66.5=pypi_0
traitlets=5.14.2=pypi_0
transformers=4.44.2=pypi_0
tree-sitter=0.22.3=pypi_0
tree-sitter-python=0.21.0=pypi_0
triton=3.0.0=pypi_0
trl=0.11.4=pypi_0
typer=0.12.3=pypi_0
types-python-dateutil=2.9.0.20240316=pypi_0
typing-extensions=4.12.2=pypi_0
typing-inspect=0.9.0=pypi_0
tyro=0.8.13=pypi_0
tzdata=2024.1=pypi_0
uc-micro-py=1.0.3=pypi_0
uri-template=1.3.0=pypi_0
urllib3=2.0.7=pypi_0
uvicorn=0.30.6=pypi_0
uvloop=0.20.0=pypi_0
vllm=0.5.5=pypi_0
vllm-flash-attn=2.6.1=pypi_0
wandb=0.17.8=pypi_0
wasabi=1.1.3=pypi_0
watchfiles=0.24.0=pypi_0
wavedrom=2.0.3.post3=pypi_0
wcwidth=0.2.13=pypi_0
weasel=0.4.1=pypi_0
webcolors=24.8.0=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.7.0=pypi_0
websockets=11.0.3=pypi_0
wget=3.2=pypi_0
wheel=0.41.2=py310h06a4308_0
widgetsnbextension=4.0.10=pypi_0
wrapt=1.16.0=pypi_0
xformers=0.0.27.post2=pypi_0
xorg-fixesproto=5.0=h7f98852_1002
xorg-inputproto=2.3.2=h7f98852_1002
xorg-kbproto=1.0.7=h7f98852_1002
xorg-libice=1.1.1=hd590300_0
xorg-libsm=1.2.4=h7391055_0
xorg-libx11=1.8.9=h8ee46fc_0
xorg-libxext=1.3.4=h0b41bf4_2
xorg-libxfixes=5.0.3=h7f98852_1004
xorg-libxi=1.7.10=h4bc722e_1
xorg-libxrender=0.9.11=hd590300_0
xorg-libxt=1.3.0=hd590300_1
xorg-libxtst=1.2.5=h4bc722e_0
xorg-recordproto=1.14.2=h7f98852_1002
xorg-renderproto=0.11.1=h7f98852_1002
xorg-xextproto=7.3.0=h0b41bf4_1003
xorg-xproto=7.0.31=h27cfd23_1007
xxhash=3.5.0=pypi_0
xz=5.4.6=h5eee18b_0
yarl=1.9.7=pypi_0
zipp=3.20.1=pypi_0
zlib=1.2.13=h4ab18f5_6
zstandard=0.23.0=pypi_0
zstd=1.5.5=hc292b87_2
